# Copy your Firebase credential.json file here
# This is a placeholder file to show where your credentials should go
# 
# Steps to add your credentials:
# 1. Get your Firebase Admin SDK credentials from Firebase Console
# 2. Replace this file with your actual credential.json
# 3. Make sure this file is listed in .gitignore (it already is)
#
# DO NOT commit actual credentials to version control!
